.Movie-preview {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  padding: 5px 5px 0px 5px;
  z-index: 300;
  height: 72px;
}

.Movie-preview:last-of-type {
  padding-bottom: 5px;
}

.Movie-preview:hover {
  background-color: #e5e5e5;
}

.Movie-preview-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: start;
  padding-left: 10px;
  font-size: 14px;
  font-weight: 600;
}
