.App {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: auto;
}

.App-header {
  height: 50px;
  width: 100%;
  color: white;
  background-color: #ff5722;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.App-main-container {
  position: absolute;
  top: 100px;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App-main-content {
  flex: 1 0 auto;
}

.App-form {
  background-color: #FFF;
  height: 50px;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #ececec;
}

.App-form-fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  z-index: 100;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
}

.App-search-icon {
  opacity: 0.5;
  padding-left: 16px;
}

.App-search-input {
  color: #434343;
  padding-left: 8px;
  width: 250px;
  font: inherit;
  border: 0;
  outline: none;
}

.App-search-autocomplete {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  overflow-y: auto;
  z-index: 200;
  top: 100px;
  min-width: 320px;
  max-width: 400px;
  max-height: 320px;
  background: #FFF;
}

.App-search-autocomplete-fixed {
  top: 50px;
}

@media (max-width: 320px) {
  .App-search-autocomplete {
    min-width: 0;
  }
}

.App-movie-recommendations {
  font-size: 16px;
  font-weight: 600;
  text-align: center;
}

.App-footer {
  flex-shrink: 0;
  background-color: #FFF;
  height: 60px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 9px;
}

.App-footer-tmdb {
  padding-top: 4px;
}

.App-footer-omdb {
  padding-top: 2px;
}
