* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  font-family: sans-serif;
  font-weight: 400;
  font-display: optional;
  color: #444;
}

html {
  overflow: hidden;
}

body {
  background: #ececec;
}
